extends layout

block append js
  script(src='/js/jquery.flot.js')
  script(src='/js/jquery.flot.time.js')
  script.
    $(document).ready(function() {
        var data=#{data};
        $.plot("#plot", [data], {
            xaxis: {
                mode: "time",
                timeformat:"%m/%d/%y %l:%M%p"       
            }
        });
    });


block content
  h1= config.description
  h2= name
  small Chart View
  #plot
